:root{
  --acento:#FF976B;
  --acentoshadow:hsla(18, 100%, 71%, 0.525);
  --mainfont:#000000;
}
.nav{
  display: flex;
  justify-content:space-between;
}

.nav-logo{
  margin: 30px 30px 105px 39px;
}

.nav-links{
  display: flex;
  justify-content:space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  margin-right: 26px;
  list-style: none;
  
}

.nav-link{
  text-decoration: none;
  color: var(--mainfont);
}

.nav-link-booking{
  margin-right: 20px;
}

.nav-link-contacts:hover,
.nav-link-booking:hover{
  color: var(--acento);
  border-radius: 2px;
  box-shadow: 10px 5px 5px var(--acentoshadow);
  font-weight: bold;
}